body {
    margin: 0;
    font: 13px/18px 'Droid Sans',sans-serif;
    background: #fff;
    color: #333;
    min-width: 960px;
}
a {
    text-decoration: none;
    color: #0077b7;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
#pidoco #header {
    background: #a0bd00;
    border-bottom: 12px solid #E47F2D;
    min-height: 165px;
}
#pidoco #header .header-holder {
    width: 954px;
    margin: 0 auto;
    padding: 13px 0 0 300px;
    position: relative;
    overflow: hidden;
    min-height: 140px;
}
#pidoco #header .logo {
    position: absolute;
    top: 10px;
    left: 0;
    background: url(/img/music_256.png) no-repeat;
    width: 243px;
    height: 130px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0;
}
#pidoco #header .logo a {
    display: block;
    height: 100%;
}
#pidoco #header .row {
    height: 20px;
    width: 100%;
    margin-bottom: 47px;
}
#pidoco #main {
    width: 954px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
#pidoco .bottom-panel {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 146px 0 43px 0;
}
#pidoco .promo .holder {
    width: 954px;
    margin: 0 auto;
    overflow: hidden;
}
#pidoco .info-graphic {
    width: 100%;
    background: url('/files/pages/homepage/promo.png') white no-repeat;
    background-position: bottom 32px center;
    height: 420px;
    border-radius: 5px;
}
#pidoco #main .info-graphic .info-headline {
    text-align: center;
    font: bold 48px 'Droid Sans',sans-serif;
    letter-spacing: -1px;
    word-spacing: 1px;
    padding-top: 31px;
    margin: 0px 0px 58px 0px;
    color: #444444;
}
#pidoco #footer {
    background: #eee;
    color: #333;
    font-size: 12px;
    line-height: 16px;
}
#pidoco #footer .footer-holder {
    width: 954px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 42px;
}
#pidoco #footer .panel {
    width: 100%;
    overflow: hidden;
    padding: 18px 0 25px;
}
#pidoco #footer .panel .column {
    float: left;
    width: 126px;
    padding-right: 10px;
}
#pidoco #footer .panel .column strong {
    text-transform: uppercase;
}
#pidoco #lpfooter {
    background: #000;
    color: #333;
    font-size: 12px;
    line-height: 16px;
}
#pidoco #lpfooter .footer-holder {
    width: 954px;
    background: #000;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 42px;
}
#pidoco #lpfooter .panel {
    width: 100%;
    background: #000;
    overflow: hidden;
    padding: 18px 0 0;
}
#pidoco #lpfooter .panel .column {
    float: left;
    width: 230px;
}
#pidoco #lpfooter .panel .column strong {
    text-transform: uppercase;
    color: #222;
}
#pidoco #lpfooter .column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#pidoco #lpfooter .column ul a {
    color: #333;
}